/*Posicionamiento de los elementos lo implemento a tráves de una grid. Además aplico el fondo de un color*/
body{
    display: grid;
    grid-template-columns: 13vw 87vw;
    grid-template-rows: 15vh 10vh 100vh 30vh 5vh;
    background: linear-gradient(to top left, #00e6da, #53f1ea 50%, #8ffff9);
}
/*Elementos que ocupan más de unacelda de grid*/
header{
    grid-column: 1/3;
}
nav{
    grid-column: 1/3;
}
aside{
    grid-row: 3/5;
}
footer{
    grid-column: 1/3;
}