/*Importo el fuente */
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
/*Imprto el estillo de los botones*/
@import url("buttonStyle.css");
/*El tamaño de logo*/
p{
    font-size: 3vmin;
}
#logo{
    max-width: 200px;
}
/*Colores de fondo*/
body{
    background: linear-gradient(to top left, #00e6da, #53f1ea 50%, #8ffff9);
}
.header{
    background: #0000007F;
}
/*Estillo de texto de la cabezera*/
.header h1{
    font-family: 'Mr Dafoe', cursive;
    font-size: 15vmin;
    line-height: 176px;
    text-align: right;
    margin: 0;
}
.product{
    margin: 5%;
    max-height: 60vmin;
    transition: .5s all;
}
.product img{
    max-height: 40vmin;
    object-fit: cover;
}
article .row:last-child .product:last-child img{
    object-position: top;
}
.product:hover{
    background: #D2043d;
}
.product:active{
    background: #D24488;
}
.marketing{
    width: 100%;
}
.advert-item{
    margin: 0 15vw;
    text-align: center;
}
footer{
    background: #000000a7;
}
.categorias-tablet-mobile{
    display: none;
}
@media only screen and (max-width:1080px) {
    body{
        background: linear-gradient(to top left, #e600da, #f153ea 50%, #ff8ff9);
    }
    .categorias-tablet-mobile{
        display: inline-block;
    }
    .categorias-pc{
        display: none;
    }
}